@tailwind base;
@tailwind components;
@tailwind utilities;

#swal2-html-container.swal2-html-container {
  margin: 0;
}
.switch {
  cursor: pointer;
  width: 60px;
  height: 30px;
  position: relative;
}
.switch-bg-on,
.switch-bg-off {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: background-color 0.2s;
}
.switch-bg-on {
  background-color: rgba(36, 30, 109, 1);
}
.switch-bg-off {
  background-color: #ccc;
}
.switch-knob-on,
.switch-knob-off {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 1px;
  transition: left 0.2s;
}
.switch-knob-on {
  left: 31px;
}
.switch-knob-off {
  left: 1px;
}
.max-h-\[70vh\].width50 {
  width: 50%;
}

@media (max-width: 768px) {
  .max-h-\[70vh\].width50 {
    width: 100%;
  }
}
/* accordion */
.accordion-enter-active,
.accordion-leave-active {
  transition: all ease-in-out;
}
.accordion-enter-from, .accordion-leave-to /* .accordion-leave-active in <2.1.8 */ {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.accordion-enter-to,
.accordion-leave-from {
  max-height: 1000px; /* This value might need to be adjusted depending on the expected max height of your content */
  opacity: 1;
}
.closing ol,
.closing ul,
.closing menu {
  list-style: initial;
  padding: revert;
}
.closing ul {
  list-style-type: disc;
}
.closing ol {
  list-style-type: decimal;
}
.closing h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}
.closing .ck.ck-reset.ck-dropdown__panel.ck-dropdown__panel_southEast {
  transform: translateY(130px);
}
.closing
  .ck-font-family-dropdown
  .ck.ck-reset.ck-dropdown__panel.ck-dropdown__panel_southEast {
  transform: translateY(340px);
}

.ck-editor__editable.ck.ck-editor__editable_inline {
  border: 2px solid #ccc;
}

div.default,
.default div,
.default p,
p.default {
  font-size: 20px;
}
.admin-user-fuction-switch .v-label.v-label--clickable {
  font-weight: bold;
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 1;
}
.card .v-skeleton-loader__image {
  height: 100%;
  border-radius: 10px;
}
.comment-transition-enter-active,
.comment-transition-leave-active {
  transition: all 0.3s ease;
}
.comment-transition-enter-from,
.comment-transition-leave-to {
  opacity: 0;
  transform: scale(0);

  max-height: 0;
}
.comment-transition-enter-to,
.comment-transition-leave-from {
  opacity: 1;
  transform: scale(1);

  max-height: 100px; /* Adjust based on your content */
}
.sticky {
  background-color: white;
  position: fixed;
  transition: all 0s ease-in-out;
  top: 0;
  left: 0%;
  z-index: 10;
  width: 100%;
  padding-right: 6px;
}

.text-3xl-imp .v-expansion-panel-title__icon {
  color: #16a34a;
}
.text-3xl-imp
  .v-expansion-panels:not(.v-expansion-panels--variant-accordion)
  > :first-child:not(:last-child):not(.v-expansion-panel--active):not(
    .v-expansion-panel--before-active
  ).rounded-lg-imp {
  border-radius: 0.5rem !important;
}

.postings::-webkit-scrollbar-track,
#scrollable::-webkit-scrollbar-track {
  /* background: #a1a1a1; */
  background: transparent;
  margin-top: 0px;
}
@media (max-width: 768px) {
  .postings::-webkit-scrollbar-track,
  #scrollable::-webkit-scrollbar-track {
    /* background: #a1a1a1; */
    background: transparent;
    margin-top: 64px;
  }
}
@media (max-width: 640px) {
  .postings::-webkit-scrollbar-track,
  #scrollable::-webkit-scrollbar-track {
    /* background: #a1a1a1; */
    background: transparent;
    margin-top: 56px;
  }
}
/* Targets the scrollbar handle */
.postings::-webkit-scrollbar-thumb,
#scrollable::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 8px;
}

/* targets the scrollbar itself */
.postings::-webkit-scrollbar,
#scrollable::-webkit-scrollbar {
  width: 8px;
}

/* For Firefox */
.postings,
#scrollable,
#scrollableContainer {
  scrollbar-color: #c1c1c1 transparent; /* thumb and track color */
  scrollbar-width: thin;
}

.side-header::-webkit-scrollbar-track {
  /* background: #a1a1a1; */
  background: transparent;
}

/* Targets the scrollbar handle */
.side-header::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 8px;
}

/* targets the scrollbar itself */
.side-header::-webkit-scrollbar {
  width: 6px;
}

/* For Firefox */
.side-header {
  scrollbar-color: #c1c1c1 transparent; /* thumb and track color */
  scrollbar-width: thin;
}
